[Desktop Entry]
Type=Application
Name=Beacn Utility
Comment=Control interface for Beacn hardware
Path=/usr/bin
Exec=/usr/bin/beacn-utility
Icon=beacn-utility
Terminal=false
Categories=Utility