[Desktop Entry]
Type=Application
Name=Beacn Utility
Comment=Control interface for Beacn hardware
Path=/home/penguin/personal-code/beacn-utility/target/release
Exec=/home/penguin/personal-code/beacn-utility/target/release/beacn-utility
Icon=beacn-utility
Terminal=false
Categories=Utility
StartupWMClass=io.github.beacn_on_linux.beacn-utility